<!-- Kendo Form to manage adding user-->

<form [formGroup] = "form" 
  (ngSubmit) = "onSubmit()"
  class = "k-form " 
  style="color: whitesmoke;">
    <fieldset>
      <label class = "k-form-field">
        <span>
          ID<span class = "k-required">*</span>
        </span>
        <input class = "k-textbox" placeholder="1024" formControlName = "id"/>
        <div *ngIf = "form.get('id').hasError('pattern')" style="color: red;"> please enter a number</div>
      </label>
      
      <label class = "k-form-field">
        <span>
          Name<span class = "k-required">*</span>
        </span>
        <input class = "k-textbox" placeholder="John Smith"  formControlName = "name" />
      </label>

      <legend style="color: whitesmoke;">User Information</legend>
      <label class = "k-form-field">
        <span>
          E-mail<span class = "k-required">*</span>
        </span>
        <input  class = "k-textbox" placeholder="example@gmail.com"  formControlName = "email" />
        <div *ngIf = "form.get('email').hasError('pattern')" style="color: red;"> please enter a valid email</div>
      </label>
    
    
      <button type="button" (click) = "addCompany()">Add Company</button>
     
      <div formGroupName = "companyInfo">
      <p *ngIf="hasCompany">Company:</p>
          <kendo-dropdownlist [data]="companies" *ngIf="hasCompany" formControlName = "name"></kendo-dropdownlist>
          <label class = "k-form-field" *ngIf="hasCompany">
            <span>Street<span class = "k-required">*</span>
           </span>
          <input class = "k-textbox" placeholder="30 S Wacker" formControlName = "street"/>
        </label>
    </div>
    </fieldset>
 
    <button type = "submit" [disabled] = "!form.valid" kendoButton [icon] = "'user'">Submit User</button>
</form>